@{
    ViewData["Title"] = "Home Page";
	ViewData["Keywords"] = "Find, iPhone, iPad, Apple, learning, training, repair, shop, certified, screen, broken, gaming, lounge, replacement";
    ViewData["Description"] = "Vancouver, WA, Portland, OR, Washington, Oregon, iPhone and iPad repairshop";
}

<div class="container">
    <div class="row" id="indexmain">
        <div class="col-xs-12 col-md-3" id="repairinformation">
            <div>
                <a href="repairs.html"><img src="images/repairslide.png" class="respond hvr-pulse" alt="repair information"></a>
                <h1>iPhone & iPad Screen Repair</h1>
                <a href="repairs.html" class="btn-lg btn-success gradientbutton"><span class="glyphicon glyphicon-question-sign"></span> Learn More!</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="traininginformation">
            <div>
                <a href="training.html"><img src="images/trainingslide.png" class="respond hvr-pulse" alt="training information"></a>
                <h1>iPhone and iPad Training</h1>
                <a href="training.html" class="btn-lg btn-success gradientbutton"><span class="glyphicon glyphicon-question-sign"></span> Learn More!</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="gaminginformation">
            <div>
                <a href="gaming.html"><img src="images/gamingslide.png" class="respond hvr-pulse" alt="gaming information"></a>
                <h1>Video Game Lounge</h1>
                <a href="gaming.html" class="btn-lg btn-success gradientbutton"><span class="glyphicon glyphicon-question-sign"></span> Learn More!</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="contactus">
			<h2 class="test"><span class="glyphicon glyphicon-comment"></span><a href="testimonials.html"> Testimonials</a></h2>
          
            <h2 class="test"><span class="glyphicon glyphicon-earphone"></span><a href="tel:13609317488"> 360.931.7488</a></h2>
            <div class="listgroup">
                <ul class="list-group">
                    <li class="list-group-item active">Hours of Operation</li>
                    <li class="list-group-item list-group-item-action">Monday 10am-7pm</li>
                    <li class="list-group-item list-group-item-action">Tuesday 10am-7pm</li>
                    <li class="list-group-item list-group-item-action">Wednesday 10am-7pm</li>
                    <li class="list-group-item list-group-item-action">Thursday 10am-7pm</li>
                    <li class="list-group-item list-group-item-action">Friday 10am-7pm</li>
                    <li class="list-group-item list-group-item-action">Saturday 9am-8pm</li>
                    <li class="list-group-item list-group-item-action">Sunday 1pm-7pm</li>
                </ul>
            </div>

        </div>
    </div>
</div>