@{
    ViewData["Title"] = "Repair Information";
    ViewData["Keywords"] = "Find, iPhone, iPad, Apple, learning, training, repair, shop, certified, screen, broken, gaming, lounge, replacement";
    ViewData["Description"] = "Vancouver, WA, Portland, OR, Washington, Oregon, iPhone and iPad repairshop";

}
@section scripts {
    <script>
        $(document).ready(function ()
        {
            $('#btnIphones').click(function ()
            {

                $('#iphones').slideDown(3000);

            });
        });
    </script>
} 

<div id="repairoptions" class="main">
    <div class="row">
        <div class="col-xs-4">
            <img id="btnIphones" style="cursor:pointer" src="images/iphones.png" alt="iphones" />
            <h2>iPhones</h2>
        </div>
        <div class="col-xs-4">
            <img src="images/ipads.png" alt="ipads" />
            <h2>iPads</h2>
        </div>
        <div class="col-xs-4">
            <img src="images/samsungproducts.png" alt="Sam" />
            <h2>Samsung</h2>
        </div>
    </div>
    <div id="iphones" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 7 & iPhone 7 Plus</h4>
                        <img src="images/iphone7.png" class="largescreen" alt="iPhone 7">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 6S & iPhone 6S Plus</h4>
                        <img src="images/iphone6s.png" class="largescreen" alt="iPhone 7">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 6 & iPhone 6 Plus</h4>
                        <img src="images/iphone6.png" class="largescreen" alt="iPhone 6">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone SE</h4>
                        <img src="images/iphoneSE.png" class="smallscreen" alt="iPhone SE">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 5S</h4>
                        <img src="images/iphone5s.png" class="smallscreen" alt="iPhone 5s">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 5C</h4>
                        <img src="images/iphone5c.png" class="smallscreen" alt="iPhone 5c">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>iPhone 5</h4>
                        <img src="images/iphone5.png" class="smallscreen" alt="iPhone 5">
                        <div class="col-xs-12">
                            <a href="tel:13609317488" class="btn-lg btn-success gradientbutton" role="button"><span class="glyphicon glyphicon-usd"></span> Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
