@{
    ViewData["Title"] = "About";
    ViewData["Keywords"] = "Find, iPhone, iPad, Apple, learning, training, repair, shop, certified, screen, broken, gaming, lounge, replacement";
    ViewData["Description"] = "Vancouver, WA, Portland, OR, Washington, Oregon, iPhone and iPad repairshop";

}
  
<div class="container" id="repairbody">
    <div class="row">
        <div class="col-xs-12" id="repairheader">
            <h1>iPhone and iPad Screen Replacements</h1>
            <h3>$89 - Any Device</h3>
            <p>If we can't fix your issue for $89, we will refer you to a reputable iPhone and iPad repair service</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 7 & iPhone 7 Plus</h3>
                    <img src="images/iphone7.png" class="largescreen" alt="iPhone 7">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 6S & iPhone 6S Plus</h3>
                    <img src="images/iphone6s.png" class="largescreen" alt="iPhone 7">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 6 & iPhone 6 Plus</h3>
                    <img src="images/iphone6.png" class="largescreen" alt="iPhone 6">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone SE</h3>
                    <img src="images/iphoneSE.png" class="smallscreen" alt="iPhone SE">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 5S</h3>
                    <img src="images/iphone5s.png" class="smallscreen" alt="iPhone 5s">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 5C</h3>
                    <img src="images/iphone5c.png" class="smallscreen" alt="iPhone 5c">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPhone 5</h3>
                    <img src="images/iphone5.png" class="smallscreen" alt="iPhone 5">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Pro</h3>
                    <img src="images/ipadpro.png" class="largescreen" alt="iPad Pro">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Air 2</h3>
                    <img src="images/ipadair2.png" class="largescreen" alt="iPad Air 2">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Air</h3>
                    <img src="images/ipadair.png" class="largescreen" alt="iPad Air">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad 3</h3>
                    <img src="images/ipad3.png" class="largescreen" alt="iPad 3">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Mini 3</h3>
                    <img src="images/ipadmini3white.png" class="largescreen" alt="iPad Mini 3">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Mini 2</h3>
                    <img src="images/ipadminiwhite.png" class="largescreen" alt="iPad Mini 2">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>iPad Mini</h3>
                    <img src="images/ipadmini.png" class="largescreen" alt="iPad Mini">
                    <div class="col-xs-12">
                        <a href="tel:13609317488" class="btn-lg btn-success dropdown-toggle gradientbutton" role="button"><span class="glyphicon glyphicon-time"></span> Book Repair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>