@{
    ViewData["Title"] = "About";
    ViewData["Keywords"] = "About";
    ViewData["Description"] = "About";
}

<div id="main" class="aboutmebody">
    <div class="row">
        <div class="col-xs-12">
            <h1>About Me</h1>
            <p>
                My name is Jake Tschirgi and I'm here to help you with your iPhone and iPad repairs and know-how! I spent
                3-years working at the Apple Store in Bridgeport Village. During my tenure at Apple, I enjoyed making
                my customer's lives better by empowering them to do things with their new iPhone and iPads they never
                thought possible. I enjoy teaching people how to connect with family and make life easier using their
                iPhones and iPads. I also love seeing someone's face after seeing their broken device come to life
                again. I started this business to help iPhone and iPad users in the Vancouver/Portland area find
                solutions to their problems for an affordable price. Find me on Facebook, Twitter and Instagram!
                Thank you for visiting!
            </p>

            <div class="row">
                <div class="col-xs-6">
                    <img src="images/me.jpg" class="aboutmephoto" alt="Jake">
                </div>
                <div class="col-xs-6">
                    <img src="images/applestore.jpg" class="aboutmephoto" alt="Apple Store">
                </div>
            </div>


        </div>
    </div>
</div>
