@{
    ViewData["Title"] = "Testimonials";
    ViewData["Keywords"] = "Testimonials";
    ViewData["Description"] = "Testimonials";
}

<div class="container" id="testimonialsbody">
    <div class="row">
        <div class="col-xs-12" id="trainingheader">
            <h1>Testimonials</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3">
			<div class="testimonial" id="ryan">
				<h3>iPhone 6S Screen Replacement</h3>
				<hr>
				<p>It was a great experience. I was able to play video games on a console or computer of my choosing. They have a great selection of games to choose from. You sit in a comfy chair and play on a hd Samsung tv and use a surround sound headset. Doesn't get much better than that. Jake is a very friendly and nice guy. He has great customer service along with the other staff that are there. He replaced my screen within 30 mins. My phone now looks brand new again. I highly recommend seeing him.</p>
				<img src="images/ryantestimonial.jpg" alt="ryan"/>
				<h4>Ryan Bishop</h4>
				<p>Vancouver, WA</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="testimonial" id="evan">
				<h3>iPhone/Mac Training</h3>
				<hr>
				<p>Jake is wealth of knowledge. When I have given up hope of being able to find
					an answer to a question about my Mac, Jake is the white knight that comes riding in with the 
					answer that I couldn't find on the internet. He is so passionate about all Apple products. 
					He inspires me to be a better computer user.
				</p>
				<img src="images/evantestimonial.jpg" alt="Evan"/>
				<h4>Evan White</h4>
				<p>Vancouver, WA</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="testimonial" id="carol">
				<h3>Mac Training</h3>
				<hr>
				<p>I am very happy with today’s session….very helpful. Looking forward to showing you the ppt in May and to setting up the book. Jake is an excellent communicator and instructor.  He knows when to step in and when to hang back.  I am more willing to “touch things” when he is here because I know he can “fix” them if I make a mistake.  
				</p>
				<img src="images/caroltestimonial.jpg" alt="Carol"/>
				<h4>Carol Jacobson</h4>
				<p>Vancouver, WA</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="testimonial" id="carol">
				<h3>iPhone 6 Plus Screen & Battery Replacement</h3>
				<hr>
				<p>I have a iPhone 6 Plus that was broken - I was referred to Jake for repairs-I thought the phone was beyond repair - I highly recommend jake for all your Apple repairs - he is very professional, knowledgeable, fast ,and very reasonable priced. He definitely gets 5 Stars. I definitely would recommend his services.
				</p>
				<img src="images/placeholder.png" alt="Lynne"/>
				<h4>Lynne B</h4>
				<p>Vancouver, WA</p>
			</div>
		</div>
	
    </div>
</div>
