@{
    ViewData["Title"] = "About";
    ViewData["Keywords"] = "Find, iPhone, iPad, Apple, repair, learning, training, certified, workshops, custom, screen, broken, gaming, lounge, replacement";
    ViewData["Description"] = "Vancouver, WA, Portland, OR, Washington, Oregon, iPhone and iPad repairshop";
}
}
 <div class="container" id="trainingbody">
    <div class="row">
        <div class="col-xs-12" id="trainingheader">
            <h1>Training</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="images/iphoneandipad.png" class="img-responsive" alt="iphone and ipad">
        </div>
        <div class="col-xs-12 col-md-6" id="workshops">
            <h2>iPhone and iPad Workshops</h2>
            <h3>Class Description</h3>
            <p>
                This is a 90 minute workshop that is dedicated to owners of iPhones and iPads who want to learn the fundamentals
                of using their device. Aside from learning the fundamentals, the majority of workshop time will be
                spent learning how to use your device to enhance your connectivity with friends and family. Share
                photos, make video calls, group messages, etc. It's a beautiful thing when a device can enhance family
                togetherness and this is what we are striving to accomplish.
            </p>
            <h4>When: TBD</h4>
            <h4>What to Bring:</h4>
            <ol>
                <li>iPad and/or iPhone</li>
                <li>Accessories</li>
            </ol>
            <h4>Cost: $40/Person</h4>

            <h4>Instructor: Jake Tschirgi</h4>

            <p>Jake tought individualized and group training at Apple for 3-years.</p>
            <div class="trainingreservation">
                <a href="#" class="btn-lg btn-success dropdown-toggle reservation" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-time"></span> Book Time<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="tel:13609317488"><span class="glyphicon glyphicon-earphone"></span> Call Us Today!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="onetoone">
            <h2>One to One Training</h2>
            <h3>Class Description</h3>
            <p>
                One to One Training allows for individualized training with an instructor in a hands-on, 1:1 trainer
                to student environment. This is perfect for people in need of a little extra support or maybe want
                to learn something outside of the beginning workshop's curriculum.
            </p>
            <h3>When: By Appointment Only</h3>
            <h3>Cost: $40/Hour</h3>
            <p> (Membership Discounts Coming Soon)</p>
            <div class="trainingreservation">
                <a href="#" class="btn-lg btn-success dropdown-toggle reservation" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-time"></span> Book Time<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="tel:13609317488"><span class="glyphicon glyphicon-earphone"></span> Call Us Today!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="athome">
            <h2>At Home Training</h2>
            <h3>Class Description</h3>
            <p>At Home Training is individualized training in the comfort of your own home.</p>
            <h3>Cost: 50/Hour Per Person</h3>
            <p>Have up to two friends join - BYOW (bring your own wine) :)</p>
            <div class="trainingreservation">
                <a href="#" class="btn-lg btn-success dropdown-toggle reservation" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-time"></span> Book Time<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="tel:13609317488"><span class="glyphicon glyphicon-earphone"></span> Call Us Today!</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div> 