@{
    ViewData["Title"] = "About";
}
 <div id="main" class="mainmove">
    <div class="row">
        <h1>iPhone and iPad Warranty Info</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nunc quis augue rutrum feugiat.
            Etiam tempus auctor ante vitae consequat. Morbi pharetra dapibus est, non pellentesque magna scelerisque
            vel. Vivamus viverra dui in purus varius viverra. Proin aliquet lacinia mauris vel tincidunt. Etiam orci
            erat, condimentum a condimentum sit amet, ultrices pulvinar risus. Nam mattis felis lectus, in scelerisque
            orci sodales vitae. Ut congue mi ante, ac convallis mi consequat eu. Morbi ac magna tristique, sagittis
            libero vel, semper lorem. Curabitur interdum diam vel velit fringilla, ut consectetur metus convallis.
            Integer sodales quam a justo lobortis rutrum.
        </p>
        <a href="http://apple.com/applecare"><img src="images/applecare.jpg" alt="applecare" id="applecare"></a>
    </div>
</div>