@{
    ViewBag.Title = "About";
} 
<div id="main" class="mainmove">
    <div class="row">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae nunc quis augue rutrum feugiat. Etiam tempus auctor ante vitae consequat. Morbi pharetra dapibus est, non pellentesque magna scelerisque vel. Vivamus viverra dui in purus varius viverra. Proin aliquet lacinia mauris vel tincidunt. Etiam orci erat, condimentum a condimentum sit amet, ultrices pulvinar risus. Nam mattis felis lectus, in scelerisque orci sodales vitae. Ut congue mi ante, ac convallis mi consequat eu. Morbi ac magna tristique, sagittis libero vel, semper lorem. Curabitur interdum diam vel velit fringilla, ut consectetur metus convallis. Integer sodales quam a justo lobortis rutrum.</p>
        <img src="/Content/images/me.jpg" class="aboutmephoto" alt="Jake">
        <img src="/Content/images/applestore.jpg" class="aboutmephoto" alt="Apple Store">

        <img src="/Content/images/golf.jpg" class="aboutmephoto personal" alt="Jake Golfing">
        <img src="/Content/images/duckfan.jpg" class="aboutmephoto personal" alt="duckgame">

    </div>
</div>
